// Colors

$blue-900: #2b3945;
$blue-950: #202c37;
$grey-950: #111517;
$grey-400: #808080;
$grey-50: #fcfcfc;
$white: #ffffff;


// body copy 

$homepage-items: 14px;
$detail-page: 16px;


// fonts

$family: 'https://fonts.google.com/specimen/Nunito+Sans';
$weight-300: 300;
$weight-600: 600;
$weight-800: 800;